body {
  font-size: 16px;
  color: rgba(34, 33, 33, 0.884);
  background-color: #80bad1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header-nav {
  background-color: #6f44a0;
  border-radius: 0;
  border: 0;
  min-height: 70px;
}
